
@font-face {
font-family: 'roboto regular';
src: url('/fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
font-family: 'isiniScript medium';
src: url('/fonts/IsiniScript.ttf') format("truetype");
}

@font-face {
font-family: 's medium';
src: url('/fonts/BLOKKRegular.ttf') format("truetype");
}

@font-face {
font-family: 'a medium';
src: url('/fonts/codropsicons.ttf') format("truetype");
}

@font-face {
font-family: 'asd medium';
src: url('/fonts/icomoon.ttf') format("truetype");
}